spring:
  application:
    name: reservation-system
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
    open-in-view: false
jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: 3600
